<script>
var graphModel = {};
</script>

<div class="header">
  <h3 class="text-muted">Ravioli - no spaghetti -</h3>
</div>

<script type="application/javascript">
var graphConfig = { 
  "zoom-in" : true,
  "zoom-out" : true,
  "layout" : true,
  "buttons" : [
    {
      "id" : "load",
      "caption" : "load",
      "url" : "http://localhost:8080/ravioli-service/load-directory",
      "redraw" : true
    },
    {
      "id" : "group",
      "caption" : "group selection",
      "callback" : "getGroupIdCallback",
      "url" : "http://localhost:8080/ravioli-service/group",
      "redraw" : true
    },
	{
      "id" : "ungroup",
      "caption" : "ungroup selection",
      "url" : "http://localhost:8080/ravioli-service/ungroup",
      "redraw" : true
    },
    {
      "id" : "refresh",
      "caption" : "refresh",
      "url" : "http://localhost:8080/ravioli-service/list",
      "redraw" : true
    }        
  ],      
  "load" : {
    "url" : "http://localhost:8080/ravioli-service/list"
  }
};

// Change listener for graphModel
var modelWatch = (function() {
        var watches = {};

        return {
            watch: function(callback) {
                var id = Math.random().toString();
                watches[id] = callback;

                // Return a function that removes the listener
                return function() {
                    watches[id] = null;
                    delete watches[id];
                }
            },
            trigger: function() {
                for (var k in watches) {
                    watches[k](window.graphModel);
                }
            }
        }
    })();
// Callback handler used by Dart to register a handler to receive graph update notifications.
var fireGraphUpdateHandler = null;
function registerGraphUpdateHandler(handler) {
  this.fireGraphUpdateHandler = handler;
}
// Called from Dart to JavaScript to notify of a graph update.
function updateGraph(graph) {
  // alert("Update graph: " + JSON.stringify(graph));
  this.graphModel = graph;
  modelWatch.trigger();
}    
// fireGraphUpdate can be called from JavaScript to Dart to have dart refresh the model after an update.
function fireGraphUpdate() {
	if (fireGraphUpdateHandler != null) {
		fireGraphUpdateHandler(JSON.stringify(this.graphModel));
	}
}
</script>
<script type="application/dart" src="lib/graph/graph.dart"></script>
<script src="lib/graph/interop.js"></script>
<script src="lib/graph/dart.js"></script>

<script id="custom-callbacks" type="application/javascript">
	function loadCallback() {
	  alert("Load callback function invoked");
	}
	function getGroupIdCallback() {
	  groupId = prompt("Group identifier");
	  var params = {};
	  params["groupId"] = groupId;
	  return params;
	}
</script>
<div class="graph">
<div id="graph-buttons"></div>
<div id="graph-canvas-container" >
<canvas id="graph-canvas" width="1000" height="600"></canvas>
<div ng-show="false" id="eventlog"></div>
</div>
</div>

<div class="table" ng-controller="RavioliCtrl">
	<!-- 
	<button ng-click="loadComponentModel()">Load</button>
	<button ng-click="clearComponentModel()">Clear</button>
	-->
	<div class="noselect">
		<p class="table-header">Components</p>
		Filter name: <input type="text" name="filter" id="filter" /><button name="applyFilter" id="applyfilter">apply</button>
		<ul id="optionlist">
		<li ng-repeat="component in components">
			<!-- {selected: $index==selectedIndex} -->
			<!--
			<input type="checkbox" ng-model="components[$index].visible" name="select-{{$index}}"/><span ng-mouseover="mouseOver($index)" ng-click="selectItem(component, $index)" class="pointer" ng-class="{selected: selectedItems.indexOf($index) > -1}">{{ component.identifier }}</span>
			-->
			<input type="checkbox" ng-model="components[$index].visible" name="select-{{$index}}"/>
			<span class="pointer" ng-class="{selected: selectedItems.indexOf($index) > -1}">{{ component.identifier }}</span>
		</li>
	</ul>
	</div>
	<p ng-show="selectedItem">Selected item: {{ selectedItem }}</p>
</div>
